<!DOCTYPE html>
<html lang="es">
<head>
 <%include parcials/head.ejs%>
</head>

<body>
<%include parcials/header.ejs%>

<div id="hero-image">
<h1 id="hero-title"><%=titulo%></h1>
</div>

<div id="posters-wrapper" class="content-padding clerfix">
<% for(var i=0; i<movies.length; i++){%>
 <div  class="poster">
   <a href="/star_wars_episode/<%=movies[i].episode_number%>">
     <img src="/images/<%= movies[i].poster%>" class="img-responsive"></img>
     <div class="poster-info-overlay">
       <h3><%=movies[i].title%></h3>
       <h4>View more<i class="fa fa-arrow-right"></i></h4>
     </div>
   </a>
 </div>
<%}%>
</div>
<%include parcials/footer.ejs%>
<%include parcials/scripts.ejs%>
</body>

</html>
