<!DOCTYPE html>
<html lang="es">
<head>
 <%include parcials/head.ejs%>
</head>

<body>
<%include parcials/header.ejs%>

<div id="hero-image-notFound">
  <h1 id="hero-title">This is not the page you are looking for</h1>
</div>
<%include parcials/footer.ejs%>
<%include parcials/scripts.ejs%>
</body>

</html>
